<%layout("layouts/boilerplate.ejs")%>
<body>
    <h2>All listings</h2>
    <div class="card-index">
        <%for(let listing of allListings){%>
            <a href="/listing/<%=listing._id%>">
                <div class="card">
                    <img src="<%=listing.image%>>" class="card-img-top" alt="..." style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <div class="card-title"><a><%=listing.title%></a></div>
                        <p class="card-text fw-bold fs-5">&#8377;<%=listing.price.toLocaleString("en-IN")%>/night</p>
                    </div>
                </div>
            </a>
        <%}%>
    </div>
</body>