<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WonderLust</title>
</head>
<body>
    <h2>Enter the Listing</h2>
    <form action="/listing" method="post">
        <label for="title">Enter Title:</label>
        <input type="text" name="title" id="title" placeholder="Enter Title">
        <br>
        <label for="description">Enter Description:</label>
        <textarea type="text" name="description" id="description" placeholder="Enter Description"></textarea>
        <br>
        <label for="image">Enter Image URL:</label>
        <input type="text" name="image" id="image" placeholder="Enter Image URL/Link">
        <br>
        <label for="price">Enter Price:</label>
        <input type="number" name="price" id="price" placeholder="Enter Price">
        <br>
        <label for="location">Enter Location:</label>
        <input type="text" name="location" id="location" placeholder="Enter Location">
        <br>
        <label for="country">Enter Country:</label>
        <input type="text" name="country" id="country" placeholder="Enter Country">
        <br>
        <button type="submit">Add</button>
    </form>
</body>
</html>