<%layout("layouts/boilerplate.ejs")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h2>Create a New Listing</h2>
            <br><br>
            <form class="needs-validation" action="/listing" method="post" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Enter Title:</label>
                    <input type="text" name="listing[title]" id="title" placeholder="Title" class="form-control" required>
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Title Required</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Enter Description:</label>
                    <textarea class="form-control" type="text" name="listing[description]" id="description" placeholder="Description" required></textarea>
                    <div class="invalid-feedback">Description Required</div>
                    <div class="valid-feedback">Description describes your Product</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Upload Image:</label>
                    <input class="form-control" type="file" name="listing[image]" id="image" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Enter Price:</label>
                    <input class="form-control" type="text" name="listing[price]" id="price" placeholder="Price" required aria-valuemin="0">
                    <div class="invalid-feedback">Price Required</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Enter Location:</label>
                    <input class="form-control" type="text" name="listing[location]" id="location" placeholder="Location" required>
                    <div class="invalid-feedback">Location Required</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="country">Enter Country:</label>
                    <input class="form-control" type="text" name="listing[country]" id="country" placeholder="Country" required>
                    <div class="invalid-feedback">Country Required</div>
                </div>
                <br><br>
                <div class="mb-3">
                    <button class="btn btn-dark add-btn" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</body>